
.PanelStatus{
	position:absolute; top:8px; right:8px; border-radius:8px; z-index:2000; background-color:#00AA00; padding:4px;
}


.PanelProfile{
	z-index:1000002;
	/* jquery-ui задаёт стили сам
	position:absolute;
	margin:auto; 
	  top: 0; left: 0; bottom: 0; right: 0;
	  width:25%; height:25%;
	*/
	
	border-radius:8px;
	background-color:#00AA00;
	border: 1px solid #000;
	padding:16px;
	font-size:24px; 
}

.UserListContainer{
	position:absolute; width:96px; right:0px;bottom:0px; top:0px;
	
	width:10%;
	overflow-y:scroll;
	
	background:linear-gradient(#CCFFFF, white);
}

.TabContainer{
	position:absolute; left:0px; right:0px ;bottom:0px; top:0px;
	
	/* заданный для всего контейнера шрифт проще переопределять */
	font-family:Verdana, sans-serif; 
	font-size:12px; 
	font-style:normal;
	
	right:96px;
	right:10%;/* для юзерлиста справа от таб-контейнера */
	
	right:0px;/* для юзерлиста внутри таб-контейнера */
	
	top:24px; /* для меню-панельки */
}

.TabList{
	position:absolute;
	left:10px; right:10px;
	bottom:2px;  /* для вкладок внизу */
	z-index:1000;
}

.PanelChat {
	position:absolute;
	
	left:10px;
	right:10px;
	top:48px;
	bottom:10px;
	
	/* для вкладок внизу */
	left:0px;
	right:0px;
	top:1px; 
	/* для вкладок внизу */
	
	z-index:100;
	
	/*background-color:#FFEEFF;*/
	
	right:10%;/* для юзерлиста внутри таб-контейнера */
}

.PanelMessages {
	position:absolute;
	
	left:10px;
	right:10px;
	top:10px;
	bottom:48px;
	
	/* для вкладок внизу */
	left:4px;
	right:4px;
	top:1px;
	bottom: 100px; 
	/* для вкладок внизу */

	overflow-y:scroll;
	
	/* шрифты лучше определять для всего контейнера
	font-family:Verdana, sans-serif; 
	font-size:12px; 
	font-style:normal;
	*/
	background:linear-gradient(#CCFFFF, white);
	margin:0;
	
	/*background-color:#FFEEEE */
}

.PanelSend {
	position:absolute;
	
	left:10px;
	right:10px;
	height:32px;
	bottom:10px;
	
	/* для вкладок внизу */
	bottom:64px; 
	/* для вкладок внизу */
	
	background-color:#EEEEEE
}

.CheckBoxScrool {
	position:absolute;
	right:8px;
	bottom:8px;
}

.NickSend {
	width:10%;
	/*
	display:block;
	position:absolute;
	left:0%;
	right:90%;
	*/
}

.InputSend {
	width:95%;
	/*
	display:block;
	position:absolute;
	left:10%;
	right:10%;
	*/
}

.ButtonSend {
	width:10%;
	/*
	display:block;
	position:absolute;
	left:90%;
	right:0%;
	*/
}

.TextAreaStyle {
	/* если чат представлен plain-текстом */
	position:absolute;
	
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	
	margin:0px;
	padding:0px;
	border:0px;
	
	width:100%;
	height:95%;
	
	font-family:Courier,monospace;
}


/* класс параграфов - всех отдельных строк чата */
p{ 
	margin:0px;
	/*color:black;*/
 }

.dp { 
	margin:0px;
	/*color:black;*/
 }
 
/* класс окна вопроса */
.dw {
	padding: 0px;
	background-color:#FFFFD0;
	border-radius: 8px 8px 8px 8px; 
	/*margin: 2px;*/
	margin-left: 20%;
	/*border: 1px solid #FFFFC0; */
	/* border: 1px solid #000; */
 }
 
.SystemMessageStyle {
	color:red;
	font-size:75%;
}

.NickStyle {
	cursor: pointer;
}

.NickStyle:hover {text-decoration: underline} 
 
.NickOfflineStyle {
	color:red;
	/* text-decoration: line-through; */ /* перечёркивание? */
}

.NickOnlineStyle {
	color:green;
}

.TimeStyle { /* цвет времени перед сообщением */
	color:gray;
	color:#c9c8d0;
}

.ImgVikaStyle { /* стиль картинок от викторины (без ограничений размера) */
	min-width: 16px; min-height: 16px; 
	background: url(/loading-16x16.gif) transparent no-repeat; /* показывается в процессе загрузки */
	display:block; margin:0 auto;  /* выделим картинку в отдельную строку и центрируем (это же нужно?) */
}

.ImgUsersStyle { /* стиль картинок от юзеров (с органичением размера) */
	min-width: 16px; min-height: 16px; 
	background: url(/loading-16x16.gif) transparent no-repeat; /* показывается в процессе загрузки */
	display:block; margin:0 auto; /* выделим картинку в отдельную строку и центрируем (это же нужно?) */
	
	max-width: 480px; max-height: 200px;
}